#time {
    .time__right {
        margin-top: 48px;
    }

    .greeting {
        display: flex;
        gap: 16px;
        color: $color-white;

        .icon {
            display: none;

            &.active {
                display: block;
            }
        }

        .greeting__text {
            color: inherit;
        }
    }

    .current-time {
        display: flex;
        gap: 5px;
        margin: 1rem 0;
        color: $color-white;

        #currentTime {
            color: inherit;
        }

        #timezone {
            display: flex;
            align-items: flex-end;
        }
    }

    .location {
        h4 {
            color: $color-white;
        }
    }
}

@include media-breakpoint-up(md) {
    #time {
        .current-time {
            margin: 0;
        }

        .time__right {
            margin-top: 80px;
        }
    }
}

@include media-breakpoint-up(xl) {
    #time {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .time__right {
            margin-top: 0;
        }
    }
}
