// main colors
$color-black: #000;
$color-white: #fff;
$color-gray-100: #999999;
$color-gray-300: #303030;

$color-body: $color-white;
$color-body-dark: $color-black;

// text colors
$color-text: $color-black;
$color-text-light: $color-white;

// primary and secondary color
$color-primary: $color-white;
$color-secondary: $color-gray-100;
