// define fonts
$font-body: 'Inter', sans-serif;
$font-code: 'monospace';

// define font-sizes desktop
$font-size-h1: 200px;
$font-size-h2: 56px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-normal: 18px;

// define font-sizes mobile
$font-size-h1-mobile: 100px;
$font-size-h2-mobile: 20px;
$font-size-h3-mobile: 18px;
$font-size-h4-mobile: 15px;
$font-size-h5-mobile: 14px;
$font-size-normal-mobile: 12px;

// define font-weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
